matplotlib==3.10.0
ipykernel==6.29.5
praw==7.8.1
pyYAML==6.0.2
nbformat==5.10.4
nbclient==0.10.2
spacy==3.8.4
pyarrow==19.0.0
scikit-learn==1.6.1
wordcloud==1.9.4
pandas==2.2.3
numpy==2.2.2
seaborn==0.13.2
tqdm==4.67.1
requests==2.32.3